              <!-- Icon Cards -->
              <div class="row">




              <!--Start dashboard tiles-->

              <div class=" col-sm-6 col-lg-3">
                <div class="card ">
                  <div class="card-block p-0 clearfix">
                    <div class="bg-primary p-3 px-2 font-2x1 mr-3 float-left">
                      <i class="fa fa-fw fa-file fa-3x fa-inverse"></i>
                    </div>
                    <div class="text-muted  font-bold  text-center">Consórcios</div>
                    <div class="h5 mb-0 pt-1 text-center">232</div>
                    <div class="text-muted  font-bold  text-center">Consórcios</div>
                  </div>
                </div>
              </div>

              <div class=" col-sm-6 col-lg-3">
                <div class="card ">
                  <div class="card-block p-0 clearfix">
                    <div class="bg-success p-3 px-2 font-1x2 mr-3 float-left">
                      <i class="fa fa-fw fa-thumbs-o-up fa-3x fa-inverse"></i>
                    </div>
                    <div class="text-muted  font-bold  text-center">Consórcios</div>
                    <div class="h5 mb-0 pt-1 text-center">232</div>
                    <div class="text-muted  font-bold  text-center">Consórcios</div>
                  </div>
                </div>
              </div>

              <div class=" col-sm-6 col-lg-3">
                <div class="card ">
                  <div class="card-block p-0 clearfix">
                    <div class="bg-warning p-3 px-2 font-1x2 mr-3 float-left">
                      <i class="fa fa-fw fa-usd fa-3x fa-inverse"></i>
                    </div>
                    <div class="text-muted  font-bold  text-center">Consórcios</div>
                    <div class="h5 mb-0 pt-1 text-center">232</div>
                    <div class="text-muted  font-bold  text-center">Consórcios</div>
                  </div>
                </div>
              </div>

              <div class=" col-sm-6 col-lg-3">
                <div class="card ">
                  <div class="card-block p-0 clearfix">
                    <div class="bg-danger p-3 px-2 font-1x2 mr-3 float-left">
                      <i class="fa fa-fw fa-thumbs-o-down fa-3x fa-inverse"></i>
                    </div>
                    <div class="text-muted  font-bold  text-center">Consórcios</div>
                    <div class="h5 mb-0 pt-1 text-center">232</div>
                    <div class="text-muted  font-bold  text-center">Consórcios</div>
                  </div>
                </div>
              </div>




              </div>
